<!DOCTYPE html>
<html lang="en">
<head style="background-color: #A6674C; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table {
            width: 50%;
            margin: auto;
        }
    </style>
    <title>Inventory</title>
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='logo.jpeg') }}" alt="Logo" class="logo">
        <h1>Grouped Inventory</h1>
    </header>
    <h1 align="center">Beer Bottle Inventory</h1>
    <table border="1" style="width: 50%" align="center" background-color="brown">
        <tr>
            <th>Filled With</th>
            <th>Bottles</th>
        </tr>
        {% for item in inventory %}
        <tr>
            <td>{{ item }}</td>
            <td>
                {% for x in inventory[item] %}
                  {{ x[0] }}-{{ x[1] }}{% if not loop.last %}, {% endif %}
                {% endfor %}
              </td>
        </tr>
        {% endfor %}
    </table>
    <div style="text-align: center; margin-top: 40px; margin-bottom: 40px;" class="footer-link">
        <a href="{{ url_for('index') }}">Edit</a>
    </div>
</body>
</html>